.c-form__container
  = form_for @provider do |f|
    - if @provider.errors.any?
      #error_explanation
        %h2 Leider sind Ihre Daten unvollständig:
        %ul
          - @provider.errors.full_messages.each do |message|
            %li= message

    .c-form__row
      = f.label :name, class: "c-form__label"
      = f.text_field :name, class: "c-form__input"
    .c-form__row
      = f.label :description, class: "c-form__label"
      = f.text_area :description, class: "c-form__input", rows: 10
      %i.c-form__hint Gib hier bspw. an wann oder wie viele Masken du bereitstellen kannst.
    .c-form__row
      = f.label :category, class: "c-form__label"
      .c-form__select= f.select :category, User.category.options, class: "c-form__input", distabled: @provider.persisted?
    .c-form__row
      = f.label :phone, class: "c-form__label"
      = f.text_field :phone, class: "c-form__input"
    .c-form__row
      = f.label :email, class: "c-form__label"
      = f.text_field :email, class: "c-form__input", disabled: @provider.persisted?
    .c-form__row
      = f.label :street, class: "c-form__label"
      = f.text_field :street, class: "c-form__input"
    .c-form__row
      .o-layout
        .o-layout__item.u-1_3.u-mb-small
          = f.label :postal_code, class: "c-form__label"
          = f.text_field :postal_code, class: "c-form__input"
        .o-layout__item.u-2_3
          = f.label :city, class: "c-form__label"
          = f.text_field :city, class: "c-form__input"

    - if @provider.new_record?
      .c-form__row.u-mt-small
        .c-form__checkbox
          = f.check_box :terms_of_service, class: "c-form__checkbox__input"
          = f.label :terms_of_service, class: "c-form__checkbox__label" do
            Ich habe die
            = link_to "Datenschutzbestimmungen", privacy_path, class: "u-link", target: "_blank"
            gelesen und akzeptiere diese
    .c-form__actions
      = f.submit class: "c-button"
