%h1 Listing providers

%table
  %thead
    %tr
      %th= Provider.human_attribute_name :name
      %th= Provider.human_attribute_name :street
      %th= Provider.human_attribute_name :postal_code
      %th= Provider.human_attribute_name :city
      %th

  %tbody
    - @providers.each do |provider|
      %tr
        %td= provider.name
        %td= provider.street
        %td= provider.postal_code
        %td= provider.city
        %td= link_to t('views.show'), provider
%br

= link_to t('views.provider.new'), new_provider_path
