%h1 Listing providers

%table
  %thead
    %tr
      %th Name
      %th Description
      %th Phone
      %th Email
      %th Street
      %th Postal code
      %th City
      %th
      %th
      %th

  %tbody
    - @providers.each do |provider|
      %tr
        %td= provider.name
        %td= provider.description
        %td= provider.phone
        %td= provider.email
        %td= provider.street
        %td= provider.postal_code
        %td= provider.city
        %td= link_to t('views.show'), provider
%br

= link_to t('views.provider.new'), new_provider_path
