%script{ src: "https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js" }
%script{ src: "https://unpkg.com/mapbox@1.0.0-beta9/dist/mapbox-sdk.min.js" }
%link{ href: "https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css", rel: "stylesheet" }
.o-site.c-details.c-details--provider
  .o-wrapper.o-wrapper--limit
    %header
      .u-intro.u-mb-large
        %h1.u-title
          %strong= @provider.name
          bietet Mundschutze

    .u-mb-large
      %h2.u-subtitle Notiz
      %p= @provider.description

    .o-box.u-bg-default
      .o-layout
        .o-layout__item.u-1_2.u-mb-default
          .u-subtitle E-Mail
          %a.u-link{ href: "mailto: #{@provider.email}" }
            = @provider.email

        .o-layout__item.u-1_2.u-mb-default
          .u-subtitle Telefon
          %a.u-link{ href: "tel: #{@provider.phone}" }
            = @provider.phone

        .o-layout__item.u-1_1
          .u-subtitle Adresse
          %p
            = @provider.street
            %br
            = @provider.postal_code
            = @provider.city

    .c-details__map{ id: "map" }
    :javascript
      (function() {
        mapboxgl.accessToken = 'pk.eyJ1Ijoic2NoYWxrYW1wIiwiYSI6ImNrODFtcGtwcTBxdGUzZHJ1bmpmZTR6NWwifQ.3MqLXBAoLpnBl5CvMSQE4Q';
        var client = new MapboxClient(mapboxgl.accessToken)
        client.geocodeForward('#{@provider.street} #{@provider.postal_code} #{@provider.city}', function(err, data, res) {
          var coordinates = data.features[0].center;
          var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/schalkamp/ck81ongh50u0h1ilfmlb3pktj',
            center: coordinates,
            zoom: 11,
          });
          new mapboxgl.Marker()
            .setLngLat(coordinates)
            .addTo(map);
        });
      })();
