= render "shared/back"

.o-site.c-details.c-details--provider
  .o-wrapper.u-mt-large
    %p#notice= notice

    %header
      .u-intro.u-mb-large
        %h1.u-title
          %strong= @provider.name
          bietet Mundschutze

    .u-mb-large
      %h2.u-subtitle Notiz
      %p= @provider.description

    .o-layout
      .o-layout__item.u-1_4
        .u-subtitle.with-spacing Adresse
        %p
          = @provider.street
          %br
          = @provider.postal_code
          = @provider.city

      .o-layout__item.u-1_4
        .u-subtitle.with-spacing E-Mail
        %a.u-link{ href: "mailto: #{@provider.email}" }
          = @provider.email

      .o-layout__item.u-1_4
        .u-subtitle.with-spacing Telefon
        %a.u-link{ href: "tel: #{@provider.phone}" }
          = @provider.phone
