.o-site.o-site--spacing
  .o-wrapper.o-wrapper--limit.u-rich-text
    .u-mb-huge
      %h1.u-title.with-spacing.u-underline Gemeinsam stark gegen Corona
      %p Aktuell leiden viele Hausarztpraxen unter einem massiven Mangel an Hygieneprodukten – allen voran fehlt es an Mundschutz-Artikeln.
      %p Auf der anderen Seite gibt es viele Zahnarztpraxen mit ungenutzten Vorräten an Mundschutzen. Zudem haben Zahnärzte häufig die Möglichkeit Hygieneprodukte maschinell aufzubereiten und für die Wiederverwendung steril zu machen,
      %p
        %strong Wir möchten helfen, indem wir beide Seiten schnell und effektiv zusammenbringen.

  .o-wrapper.o-wrapper--limit.u-rich-text
    .u-mb-huge
      %h1.u-title.with-spacing.u-underline Wie funktioniert das?
      %p Praxen, die unterstützen können, stellen eingeschweißte und sterile Mundschutze in Zehner-Paketen an Arztpraxen in der Umgebung bereit.
      %p Nach der Nutzung werden die Mundschutze zurückgebracht und erneut aufgearbeitet und sterilisiert.
      %p
        %strong Damit wollen wir gemeinsam Ärzten im Kampf gegen das Virus helfen.
    .u-mt-large.u-mb-default
      %h1.u-title.with-spacing.u-underline Wer kann mitmachen?
      %p Wir möchten Zahnärzte, die unterstützen können einfach mit Praxen in Verbindung bringen, die Hilfe benötigen. Hierzu haben wir zwei Listen, in die Praxen sich eintragen können.


  .o-wrapper.u-mt-large
    .o-layout
      .o-layout__item.u-1_2.u-mb-large
        .o-box.u-bg-provider.u-rich-text
          .u-intro
            %h2.u-subtitle.with-spacing Liste 1 – Ich kann unterstützen
          %ul.u-mb-large
            %li Ich habe Mundschutz-Artikel übrig, die ich kostenfrei abgeben kann
            %li Ich kann helfen verwendete Artikel aufzuarbeiten und steril zu machen
          = link_to "Als Anbieter eintragen", new_provider_url, class: "c-button"

      .o-layout__item.u-1_2.u-mb-large
        .o-box.u-bg-consumer.u-rich-text
          .u-intro
            %h2.u-subtitle.with-spacing Liste 2 – Ich benötige Unterstützung
          %ul.u-mb-large
            %li Ich benötige Mundschutz-Artikel
            %li Ich kann benutzte Artikel zur Aufarbeitung abgeben
          = link_to "Als Verbraucher eintragen", new_consumer_url, class: "c-button"

  .o-wrapper.o-wrapper--limit.u-mb-huge
    .o-box.u-bg-muted.u-rich-text
      .u-intro
        %h2.u-subtitle.with-spacing Das Projekt mit einer Spende unterstützen
      = link_to "Auf GoFundMe spenden", "https://www.gofundme.com/f/gemeinsam-arzten-helfen?utm_source=customer&utm_medium=copy_link&utm_campaign=p_cf+share-flow-1", class: "c-button", target: "_blank"

  .o-wrapper.o-wrapper--limit.u-rich-text
    .u-mb-default
      %h1.u-title.with-spacing.u-underline Wer steckt hinter dem Projekt?
      %p
        Angefangen hat das Projekt mit einer Aktion von
        = link_to "Dr. Christian Leonhardt aus Augsburg.", "https://www.zahnaerzte-am-perlach.de/", target: "_blank", class: "u-link"
        Nachdem er von befreundeten Hausärzten vom Mangel an Hygieneartikeln erfahren hat, begann er überschüssige Mundschutze zu verschenken und gebrauchte Masken wieder aufzuarbeiten.
      %p
        Um dieses Angebot zu erweitern, und Anbieter als auch Verbraucher schnell miteinander zu verbinden, entstand dann diese Plattform, welche mit schneller Unterstützung von 
        = link_to "bitside.de", "https:\\bitside.de", target: "_blank", class: "u-link" 
        und 
        = link_to "und-pohlen.de", "https:\\und-pohlen.de", target: "_blank", class: "u-link" 
        in die Tat umgesetzt wurde.
    %figure.u-mb-large
      .o-crop= image_tag "dr_leonhardt.jpg"
