.o-site
  .o-wrapper.u-mb-large
    .u-intro
      %h1.u-subtitle Gemeinsam Ärzten helfen
      %p.u-mb-tiny Vielen Hausärzten fehlt es zurzeit massiv an Mundschutzen. Wir möchten helfen. Auf dieser Plattform bringen wir Ärzte mit anderen Ärzten zusammen, die Mundschutze abgeben können oder helfen können diese für die Weiterverwendung zu sterilisieren.
    = link_to "Wie funktioniert das?", about_path, class: 'u-link'

  .c-split-view
    .c-split-view__item.c-split-view--visible.c-split-view__item--provider{ id: 'provider-list-body' }
      %header.c-split-view__item__header{ data: { id: 'provider-list-body' } }
        %h1
          %strong.c-split-view__item__count= @dashboard.providers_count
          bieten Mundschutze
        .c-split-view__item__action= link_to('Als Anbieter registrieren', new_provider_url, class: 'u-link')
      .c-split-view__item__body
        .c-listing
          %input.c-listing__search{ id: "provider-search", placeholder: "Anbieter durchsuchen", type: "text" }
          .c-listing-group{ id: "provider-list" }
            - @dashboard.latest_providers.each do |provider|
              = link_to provider_path(provider), class: 'c-listing__item' do
                .c-listing__item__name= provider.name
                .c-listing__item__city= "#{provider.postal_code} #{provider.city}"

    .c-split-view__item.c-split-view__item--consumer{ id: 'consumer-list-body' }
      %header.c-split-view__item__header{ data: { id: 'consumer-list-body' } }
        %h1
          %strong.c-split-view__item__count= @dashboard.consumers_count
          suchen Mundschutze
        .c-split-view__item__action= link_to('Als Verbraucher registrieren', new_consumer_url, class: 'u-link')
      .c-split-view__item__body
        .c-listing
          %input.c-listing__search{ id: "consumer-search", placeholder: "Verbraucher durchsuchen", type: "text" }
          .c-listing-group{ id: "consumer-list" }
            - @dashboard.latest_consumers.each do |consumer|
              = link_to consumer_path(consumer), class: 'c-listing__item' do
                .c-listing__item__name= consumer.name
                .c-listing__item__city= "#{consumer.postal_code} #{consumer.city}"

:javascript
  function search(url, listId) {

    const headers = new Headers();
    headers.set('Content-Type', 'text/html');
    headers.set('Accept', 'text/html');
    const options = {
        method: 'GET',
        headers,
        mode: 'no-cors'
    };

    fetch(url, options)
    .then((response) => {
      return response.text();
    })
    .then((response) => {
      const list = document.getElementById(listId);
      const element = document.createElement('div');
      element.innerHTML = response;
      list.innerHTML = '';
      [...element.getElementsByClassName('c-listing')[0].children].forEach((child) => {
        list.appendChild(child);
      })
    });
  }

  const listHeaders = document.querySelectorAll('.c-split-view__item__header');
  listHeaders.forEach((el) => {
    el.addEventListener('click', (e) => {
      const id = el.getAttribute('data-id');
      const oldElements = document.querySelectorAll('.c-split-view__item');
      oldElements.forEach((oldEl) => {
        oldEl.classList.remove('c-split-view--visible');
      });
      document.getElementById(id).classList.toggle('c-split-view--visible');
    });
  });

  document.getElementById('provider-search').addEventListener('input', window.lodash.debounce((evt) => {
    const val = evt.target.value;
    search(`providers?search=${val}`, 'provider-list')
  }), 100);

  document.getElementById('consumer-search').addEventListener('input', window.lodash.debounce((evt) => {
    const val = evt.target.value;
    search(`consumers?search=${val}`, 'consumer-list')
  }), 100);
