%h1 Listing consumers

%table
  %thead
    %tr
      %th= Consumer.human_attribute_name :name
      %th= Consumer.human_attribute_name :street
      %th= Consumer.human_attribute_name :postal_code
      %th= Consumer.human_attribute_name :city
      %th

  %tbody
    - @consumers.each do |consumer|
      %tr
        %td= consumer.name
        %td= consumer.street
        %td= consumer.postal_code
        %td= consumer.city
        %td= link_to t('views.show'), consumer

%br

= link_to t('views.consumer.new'), new_consumer_path
