%h1 Listing consumers

%table
  %thead
    %tr
      %th Name
      %th Description
      %th Phone
      %th Email
      %th Street
      %th Postal code
      %th City
      %th
      %th
      %th

  %tbody
    - @consumers.each do |consumer|
      %tr
        %td= consumer.name
        %td= consumer.description
        %td= consumer.phone
        %td= consumer.email
        %td= consumer.street
        %td= consumer.postal_code
        %td= consumer.city
        %td= link_to t('views.show'), consumer

%br

= link_to t('views.consumer.new'), new_consumer_path
