.c-listing
  - @consumers.each do |consumer|
    = link_to consumer_path(consumer), class: 'c-listing__item' do
      .c-listing__item__name= consumer.name
      .c-listing__item__city= "#{consumer.postal_code} #{consumer.city}"
