= render "shared/back"
.o-site.c-details.c-details--consumer
  .o-wrapper.u-mt-large
    %p#notice= notice

    %header
      .u-intro.u-mb-large
        %h1.u-title
          %strong= @consumer.name
          sucht Mundschutze

    .u-mb-large
      %h2.u-subtitle Notiz
      %p= @consumer.description

    .o-layout
      .o-layout__item.u-1_4
        .u-subtitle.with-spacing Adresse
        %p
          = @consumer.street
          %br
          = @consumer.postal_code
          = @consumer.city

      .o-layout__item.u-1_4
        .u-subtitle.with-spacing E-Mail
        %a.u-link{ href: "mailto: #{@consumer.email}" }
          = @consumer.email

      .o-layout__item.u-1_4
        .u-subtitle.with-spacing Telefon
        %a.u-link{ href: "tel: #{@consumer.phone}" }
          = @consumer.phone
