.o-site.c-details.c-details--consumer
  .o-wrapper.o-wrapper--limit
    %p#notice= notice

    %header
      .u-intro.u-mb-large
        %h1.u-title
          %strong= @consumer.name
          sucht Mundschutze

    .u-mb-large
      %h2.u-subtitle Notiz
      %p= @consumer.description

    .o-box.u-bg-default
      .o-layout
        .o-layout__item.u-1_2.u-mb-default
          .u-subtitle E-Mail
          %a.u-link{ href: "mailto: #{@consumer.email}" }
            = @consumer.email

        .o-layout__item.u-1_2.u-mb-default
          .u-subtitle Telefon
          %a.u-link{ href: "tel: #{@consumer.phone}" }
            = @consumer.phone

        .o-layout__item.u-1_1
          .u-subtitle Adresse
          %p
            = @consumer.street
            %br
            = @consumer.postal_code
            = @consumer.city

