!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no", :name => "viewport" }

    %title GemeinsamAerztenHelfen.de
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag 'favicon/favicon.ico'
    %script{ src: "https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js" }
    %script{ src: "https://unpkg.com/mapbox@1.0.0-beta9/dist/mapbox-sdk.min.js" }
    %link{ href: "https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css", rel: "stylesheet" }

  %body
    - flash.each do |type, msg|
      .c-flash.js-flash= msg 
    
    %header= render "shared/header"
    %main= yield

    :javascript
      (function() {
        const flashMessages = document.querySelectorAll('.js-flash');
        flashMessages.forEach((msg) => {
          setTimeout(() => {
            msg.classList.add('hidden');
          }, 3000);
        });
      })();
